
{{ $goal_description_string := printf "%s" .goal_description }}

<!-- Renders card component -->
        <div class="group relative">
             <div class="min-h-80 aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-stone-100 lg:aspect-none group-hover:opacity-75 lg:h-80">
                <p class="sans text-sm mx-6 my-4">{{ .organization_name }}</p>
                <p class="sans text-lg mx-6 my-4 font-semibold">{{ .goal_name | truncate 44 }}</p> 
                  {{ if ge (len $goal_description_string) 336 }}
                  <p class="sans text-base mx-6 my-4">{{ .goal_description | truncate 336 }}</p>
                {{ else }}
                  <p class="sans text-base mx-6 my-4">{{ .goal_description }}</p>
                {{ end }}
              </div>
        </div>

